/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html{
  direction: rtl;
}

@font-face {
  font-family: "Dana";
  src: local("Dana"),
    url("/src/assets/fonts/Dana-FaNum-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Dana";
  font-weight: bold;
  src: local("Dana"),
    url("/src/assets/fonts/Dana-FaNum-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Dana Medium";
  src: local("Dana Medium"),
    url("/src/assets/fonts/Dana-FaNum-Medium.ttf") format("truetype");
}

* {
  font-family: "Dana" !important;
}